@import "tailwindcss";

:root{
  background: rgb(0,1,5);
  background: radial-gradient(circle, rgba(0,1,5,1) 9%, rgba(3,30,94,1) 70%, rgba(6,55,170,1) 100%);
  color: white;
  overflow-x: hidden;
}
/* #home div{
  border: solid;
} */
/* div{
  border: solid;
} */