@import "tailwindcss";

:root {
  @apply bg-[radial-gradient(circle_at_center,_#000105_9%,_#031e5e_70%,_#0637aa_100%)] text-white overflow-x-hidden;
}

/* Common Designs */
div {
  @apply sm:p-3 md:p-5;
}

h2 {
  @apply text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl;
}

p {
  @apply text-base md:text-lg xl:text-xl my-3;
}

/* Custom Designs */
.icons {
  @apply size-13 sm:size-15 md:size-18 lg:size-20 xl:size-23 2xl:size-26 p-2 bg-gradient-to-b from-blue-900 to-blue-950 border-2 border-blue-700/80 rounded-2xl;
}
