@import "tailwindcss";

:root {
  @apply bg-[radial-gradient(circle_at_center,_#000105_9%,_#031e5e_70%,_#0637aa_100%)] text-white overflow-x-hidden;
}

/* Common Designs */
div {
  @apply sm:p-3 
        md:p-5;
}

h2 {
  @apply text-5xl 
        sm:text-6xl 
        md:text-7xl 
        lg:text-8xl 
        xl:text-9xl;
}

p {
  @apply text-base my-3 
        md:text-lg 
        xl:text-xl;
}

/* Custom Designs */
.navbar {
  @apply w-full mt-5 bg-blue-900/60 rounded-full border-2 border-blue-700/80 p-0 
        sm:w-2/3
        2xl:rounded-4xl;
}

.navbar ul {
  @apply relative items-center text-base;
}

.button {
  @apply flex w-fit h-10 m-1 px-3 text-center place-items-center
        hover:scale-105 hover:font-semibold
        hover:underline rounded-full
        /* hover:shadow-[0_0_15px_5px_rgba(59,130,246,0.5)]  */
        hover:shadow-blue-500/70
        hover:border-blue-600/80
        hover:text-blue-200
        active:bg-blue-950 active:scale-90;
}

.active {
  @apply text-white bg-gradient-to-b from-blue-900 to-blue-950 border-2 border-blue-700/80 shadow-white font-bold;
}

.navbarCV {
  @apply px-3 py-1 bg-blue-700/60 rounded-full border-2 border-blue-600/80 transition-all duration-150
        hover:scale-105 hover:bg-blue-400/80 hover:font-semibold
        hover:shadow-[0_0_15px_5px_rgba(59,130,246,0.5)] 
        hover:shadow-blue-500/70
        active:scale-90 active:bg-blue-950;
}

.icons {
  @apply size-13 p-2 bg-gradient-to-b from-blue-900 to-blue-950 border-2 border-blue-700/80 rounded-2xl
        sm:size-15 
        md:size-18 
        lg:size-20 
        xl:size-23 
        2xl:size-26;
}

.card {
  @apply mt-5 bg-gradient-to-b from-blue-950/30 to-blue-950 border-2 border-blue-700/80 p-2 shadow-lg shadow-blue-900/50 rounded-2xl 
        md:p-4 
        lg:p-6 
        xl:p-8 
        2xl:rounded-4xl;
}
